body{
  /*background-color: #ddd;*/
  background-color: #37474f;
  font-family: Yu Gothic;
}
#loginDialog{
  border-radius: 6px;
  border: solid #aaa 1px;
  font-size: 20px;
}

#detachButton{
  display: block;
  border-radius: 6px;
  border: solid #aaa 3px;
  background-color: #6200ea;
  color: white;
  font-size: 18px;
  box-sizing: border-box;
  width: 100px;
  height: 30px;
}

#messageArea{
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 95%;
  box-sizing: border-box;
  overflow: scroll;
  overflow-x: hidden;
}
.dataSet{
  position: relative;
  padding: 0 2%;  
  font-size: 25px;
}
.postingTime{
  color: #546e7a;
  font-size: 15px;
}
.message{
  word-break: break-all;
  max-width: 100%;
  color: #eceff1;
  font-size: 20px;
}
hr{
  margin: 0.5em auto;
  border: none;
  height: 1px;
  width: 95%;
  background: linear-gradient(90deg, #90a4ae, #37474f);
}

#inputWrapper{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5%;
  min-height: 45px;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: #aaa;
  z-index: 1;
}
.inputBar{
  display: block;
  border-radius: 6px;
  border: solid #aaa 2px;
  box-sizing: border-box;
  font-size: 20px;
  z-index: 2;
}
#chatBar{
  position: absolute;
  resize: none;
  bottom: 2%;
  left: 2px;
  max-height: 1000%;
  width: calc(100% - 100px);
  line-height: 35px;
  font-size: 35px;
  background-color: #ffffff;
}
.button{
  display: block;
  border-radius: 6px;
  border: solid #aaa 3px;
  background-color: #6200ea;
  color: white;
  font-size: 18px;
  box-sizing: border-box;
  width: 100px;
  height: 30px;
}
#sendButton{
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100%;
}
